<?xml version="1.0" encoding="UTF-8"?>
<root>
    <app>
        <config id='modules'>modelo,app,admin,bm,api,auth</config>
        <config id='langs'>br,en</config>
        <config id='defaultModule'>app</config>  
        <config id='defaultLang'>br</config>
        <config id='baseUrlHttp'>localhost</config>
        <config id='baseUrlHttps'>https://superprofessorweb.websiteseguro.com</config>
        <config id='rootFolder'>interbits</config>        
        <config id='folderSys'>sys</config>                    
        <config id='folderViews'>viewParts</config>
    </app>    
    <components>
        <config id='folderLib'>lib</config>                    
        <config id='folderComps'>comps</config>                    
    </components>
    <assets>
        <config id='assetsFolderRoot'>assets</config>
        <config id='folderPlugins'>plugins</config>
    </assets>
    <module>
        <config id='folderTemplate'>templates</config>
        <config id='defaultTemplate'>padrao.html</config>
    </module>
    <header>        
        <include id='css'></include>
        <include id='cssInc'></include>
        <include id='js'>util.form,util.dictionary</include>
        <include id='jsInc'></include>
        <include id='plugins'>jquery</include>
    </header>
    <email>        
        <config id='emailFolder'>common/viewParts/emails/</config>
        <config id='emailFrom'>claudio@supervip.com.br</config>
        <config id='nameFrom'>Claudio Rubens</config>
        <config id='emailReplyTo'></config>
        <config id='nameReplyTo'></config>
    </email>
    <smtp>
        <config id='smtpHost'>smtp.interbits.com.br</config>
        <config id='smtpPort'>587</config>
        <config id='smtpAuth'>1</config>        
        <config id='smtpUsername'></config>
        <config id='smtpPassword'></config>   
    </smtp>      
    <cache>
        <cache id='components'>On</cache>
        <cache id=''>On</cache>        
    </cache>
</root>
