<?xml version="1.0" encoding="UTF-8"?>
<root>
    <app>
        <config id='modules'>app,admin,bm,api</config>
        <config id='langs'>br,en</config>
        <config id='defaultModule'>admin</config>  
        <config id='defaultLang'>br</config>
        <config id='baseUrlHttp'>localhost</config>
        <config id='baseUrlHttps'>https://superprofessorweb.websiteseguro.com</config>
        <config id='rootFolder'>interbits</config>        
        <config id='folderSys'>sys</config>                    
        <config id='folderViews'>viewParts</config>
    </app>
    <components>
        <config id='folderLib'>lib</config>                    
        <config id='folderComps'>comps</config>                    
    </components>
    <assets>
        <config id='assetsFolderRoot'>assets</config>
        <config id='folderPlugins'>plugins</config>
    </assets>
    <module>
        <config id='folderTemplate'>templates</config>
        <config id='defaultTemplate'>padrao.html</config>
    </module>
    <header>        
        <include id='css'></include>
        <include id='cssInc'></include>
        <include id='js'>app.init,util.form,util.dictionary</include>
        <include id='jsInc'></include>
        <include id='plugins'>jquery</include>
    </header>
    <mail>
        <include id='emailFrom'>claudio@supervip.com.br</include>
        <include id='nameFrom'>Claudio Rubens</include>
        <include id='emailReplyTo'></include>
        <include id='emailReplyTo'></include>
    </mail>
    <cache>
        <cache id='components'>On</cache>
        <cache id=''>On</cache>        
    </cache>
</root>
