#bannerTexto {
    margin-top:15px;
    padding-right:10px;
}

#bannerTexto h4, #bannerTexto p{
    margin-top:0px;
    margin-left:10px;    
    color:#000;
}

#bannerTexto h4 {
    padding-bottom:10px;
}

#bannerTexto p {
    font-size:1.2em;
}

#bannerTexto .col_4 {
    width:30.666666666667%;
    padding:5px;
}

#bannerBtn {
    margin-top: 30px;
    padding-bottom: 20px;
}

.divisoria {    
    margin-top:10px;    
    height:190px;
    width:19px;
    float:left;    
    background-image: url("../../images/common/text-block-bg.png");
    background-position: center bottom;
    background-repeat: no-repeat;    
}