.boxForm {
    width:630px; 
    padding:0px; 
    margin:0px; 
}


#col_right {
    text-align:left;
    width: 220px;
    margin-top: 20px;
    margin-left:20px;
    margin-right:20px;
}

ul li {
    color:#000;
    font-size:14px;
}

h3 {
    margin-bottom:20px;
}

#aceitoPoliticas {
    margin-bottom: 20px;
    margin-left:22px;
}

label, .fields {
    margin-left:20px;
}

#formGray {
    padding-top:20px;
}

input {
    width:340px;
}
