#tituloPage h1 {
    text-transform: none;
}

.grid {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E1E1E1;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

.grid th {
  background-color:#F5F5F5;
  background-position:initial initial;
  background-repeat:initial initial;
  border-bottom-color:#E1E1E1;
  border-bottom-style:solid;
  border-bottom-width:1px;
  padding:15px 10px;
  vertical-align:top;
}

 tr.tree-column th {
  width:33%;
}

.grid tr {
  height:38px;
}

th td , .grid th p em {
    color:#444;
}

.grid th, .grid th p {
    text-align:center;
    background: none repeat scroll 0 0 #F5F5F5;
    padding: 15px 10px;
    vertical-align: top;  
}

.grid th + th, .grid td + td {
    border-left: 1px solid #E1E1E1;
}

.grid tbody tr td {
    border-bottom: 1px solid #E1E1E1;
    font-size: 16px;
    padding:6px;
}

.grid th span.th-heading {
  font-size:24px;
  font-weight:normal;
  line-height:1.2;
  margin:0;
  color:#134A82;
  text-align:center;
  font-family:proxima-nova-1, proxima-nova-2, Helvetica, Arial, sans-serif;
}

.clearfix:before, .clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

p.price {
    display: inline-block; 
}

.moeda, .inteiro, .decimal {    
    display: inline-block; 
    color: #1964AF;
}

.inteiro {
    font-size: 44px;
    font-weight: 400;
}

.moeda, .decimal {
    font-size: 15px;
    vertical-align: top;
    margin-top:-10px;
    
}

.hr_shadow {
    margin-top: 10px;
    margin-bottom: 5px;
}

#page {

}

.subitem {
    text-align: center;
    color:#FFF;
    font-weight: normal;
    padding-top:7px;
    background-color:#66ABD8;
}

td {
    text-align: center;
    padding:3px;
    color:#000;    
}