#page {
    background-color: #F8F8F8;
}

.tab-content {
    padding:0px;
}

[class*="column"] + [class*="column"]:last-child {
    float: right;
}
.preco-column-last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: -1px !important;
}

.preco-wrapper {
    float: left;
    padding: 20px;
    padding-bottom: 0px;
    width: 100%;
    margin-left:20px;
}

.preco-price {
    background-color: #555555;
    background-image: url("../../images/site/price-glow.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    border-top: 1px solid #666666;
    padding: 15px 0 10px;
    text-align: center;
}

.preco-wrapper .preco-column:first-child {
    margin-left: 1px;
}

.first-col {
    width: 26%;
    float: left;
    margin-top:45px;    
}
.preco-column, .preco-column-last-child, .preco-column-first-child {
    background-color: #333333;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.50);
    float: left;
    margin: 20px 0 25px;
    width: 23%;
}

.preco-column-first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}


.last-column {
    width:auto;
    float: left;
}

.fourth-col .preco-column {
    width: 23%;
}

.green-pr {
    background-color: #779710;
}

.feature-package {
    border-radius: 5px 5px 5px 5px;
    margin: 10px -1px 0 0 !important;
    position: relative;
    z-index: 100;
}

.green-pr .preco-price {
    background-color: #9EC032;
    border-top: 1px solid #ABC947;
}

.feature-package .preco-price {
    padding: 20px 0 14px;
}

.preco-title {
    color: #FFFFFF;
    padding: 10px 0 0;
    text-align: center;
    text-shadow: 0 1px 1px #323232;
}

h5 {
    font-size: 16px;
    margin: 0 0 10px;
    padding: 0;
}

h1 {
    margin: 0 0 10px;
    font-family: Arial, Verdana;
    text-shadow: 0 1px 1px #323232;
    color: #FFFFFF;
    font-size: 36px;    
    font-weight: normal;
    padding: 0;
}


.preco-title {
    color: #FFFFFF;
    padding: 10px 0 0;
    text-align: center;
    text-shadow: 0 1px 1px #323232;
}

h5 {
    font-size: 16px;
    margin: 0 0 10px;
    padding: 0;
}


.preco-feature {
    background-color: #FFFFFF;
    padding: 0px;
    text-align: center;    
}

.first-col .preco-feature {
    text-align: left;
    width:240px;
}

ul {
    list-style: none outside none;
}

.preco-feature li {
    border-bottom: 1px solid #E4E4E4;
    color: #000;
    font-family: Tahoma,Geneva,sans-serif;
    margin: 0;
    padding: 10px 8px;
    height: 20px;   
}

.preco-feature li:last-child {
    border: medium none;
}

.preco-description {
    background-color: #CACACA;
    border-bottom: 1px solid #333333;
    color: #444;
    font-style: normal;
    padding: 10px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}

.preco-button {
    background-color: #E4E4E4;
    border-top: 1px solid #E4E4E4;
    margin-top: -1px;
    padding: 20px 0 10px;
    text-align: center;
}

.moeda, .inteiro, .decimal {    
    display: inline-block; 
    color: #fff;
}

.inteiro {
    font-size: 44px;
    font-weight: normal;
}

.moeda, .decimal {
    font-size: 15px;
    vertical-align: top;
    margin-top:0px;
    
}

.periodicidade {
    color:#fff;
    font-size:14px;
    margin-bottom: 10px;
    font-style: italic;
}

.icon_sim{
    background-image: url("../../images/common/icons/validation_ok.png");
    background-position: center bottom;
    background-repeat: no-repeat;   
    width: 18px;
    height: 16px;
    margin-left:90px;
}

.icon_nao{
    background-image: url("../../images/common/icons/icon_x.gif");
    background-position: center bottom;
    background-repeat: no-repeat;   
    width: 9px;
    height: 8px;
    margin-left:95px;
}

.rowGray {
    background-color: #F8F8F8;
}

.question_mark {
    background-image: url("../../images/common/icons/question_mark.png");
    background-repeat: no-repeat;   
    width:16px;
    height:16px;
    margin-left:10px;
    display:inline-block;
    cursor:pointer;
}

/* Personalização das abas */
ul.tabs {
    margin: 0px 0 -1px;
    padding-top:20px;
}
ul.tabs, ul.tabs li a {
    background-color: #000;
    color:#FFF;
    border:none;
}

ul.tabs li a:hover {
    background:none;
    text-decoration: underline;
}

ul.tabs li.current, ul.tabs li.current a:hover {
    background: none repeat scroll 0 0 #fff;
    text-decoration: none;
}

#textoBeneficios h3 {
    margin: 0 0 0.5em;
}

.divisor_shadow {
    background-image: url("../../images/common/divisor_hr_shadow.jpg");  
    background-repeat: no-repeat;  
    height:68px; 
    color:#FF0000;
    clear: both;
}

#textoBeneficios .column .inner {
  padding:20px;
}

#textoPlanoGratuito {
    font-size:14px;
    padding:20px;
    padding-top:30px;
    margin-left:40px;
    color:#444;
    background-image: url("../../images/site/bg_info_trial.png");  
    background-repeat: no-repeat;   
    width:870px;
    height:68px;
}

#texto30dias {
    color:#B21203;
}