#colMenuLeft {
    width:160px;
    height:300px;
    margin-left:30px;    
    background: url("../../images/common/text-block-bg.png") no-repeat scroll right 0 transparent;
    min-height: 100px;
    padding: 40px 25px 0 0;
}

#colMenuLeft ul li a {
    font-size:12px;   
}

#colRight {
    padding-left:0px;
    width:744px;
}

#colRight h4 {
    margin-top:30px;
    margin-bottom:30px;
}

.contentPage {
    padding:50px;
    color:#000;
}

.contentBloq, .contentBloq div {
    padding:0px;
    font-size:14px;
    color:#000;
    margin-top:15px;
}

.contentBloq ul li {
    color: #000;
}

.titulo {    
    font-weight: normal;
    line-height: 1.1666em;    
    color: #333333;  
    font: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; background-color: transparent; color: #333; -webkit-font-smoothing: antialiased;
    font-size: 1.9142em;
}

.titulo sup {
    font-size:10px;
    color:#000; 
    vertical-align:top;
}