#colMenuLeft {
    width:160px;
    height:300px;
    margin-left:30px;    
    background: url("../../images/common/text-block-bg.png") no-repeat scroll right 0 transparent;
    min-height: 100px;
    padding: 40px 25px 0 0;
}

#colMenuLeft ul li a {
    font-size:12px;   
}

#colRight {
    padding-left:0px;
    width:744px;
}

#colRight h4 {
    margin-top:30px;
    margin-bottom:30px;
}

.contentPage {
    padding:50px;
    color:#000;
}

.contentPage ol {
    margin:0px;
}
.contentPage ol li.title {
    color: #009AC7;;
    font-family: 'MuseoSans500Regular',Arial,sans-serif; 
    font-size:24px;
    list-style-position: inside;
    line-height: 30px;
    margin-top: 30px;    
}

.contentBloq, .contentBloq div, div p, address {
    padding:0px;
    font-size:14px;
    color:#000;
    margin-top:15px;
}

div p {
    color:#000;
    margin-bottom:15px;
}

ul.list {
   list-style: disc;
   list-style-type: disc;
}

.contentBloq ul li {
    color: #000;
    font-size:14px;   
    margin-left:20px;    
}

.titulo {    
    font-weight: normal;
    line-height: 1.1666em;    
    color: #333333;  
    font: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; background-color: transparent; color: #333; -webkit-font-smoothing: antialiased;
    font-size: 1.9142em;
}

.titulo sup {
    font-size:10px;
    color:#000; 
    vertical-align:top;
}

#politicaUltimoUpd {
    color:#666;
    font-size:14px;
}

address {
    font-style: normal;
}

sup {
    vertical-align: text-top;
    margin-left:5px;
    font-size:14px;
}

.boxForm {
    margin: 0px;
}

.boxForm select, .boxForm textarea {
    color:#000;
    font-size: 14px;
    border: 1px solid #ccc;
}

.input-gray-big.wide {
    width: 363px;
}