/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css
	
*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

/*---------------------------------
	Correções do KS
-----------------------------------*/

h1,h2,h3,h4,h5,h6{
	font-family: "Trebuchet Ms", arial, verdana, sans-serif;
	margin: 0;
}


thead th,
tbody th{
	font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
	font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}


ul.alt a{
	color:#333333;
	text-decoration:none;
}

ul.alt a:hover{
	color:#469af0;
}


ul li a{
	color:#666;
}

ul li a:hover{
	color:#044e6e;
}

.menu{
	font-family: "Trebuchet Ms", arial, verdana, sans-serif;
	text-align: left;
	border:1px solid #ddd;
	margin:-1px -1px 0 -1px;
}

blockquote{
	font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

.column .inner {
	padding: 0;
}

p{
	margin:0px;
}

a{
	text-decoration:none;
}

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
    margin: 5px 0px 0px 5px;
}

.col_9 {
    width: 74.333%;
}

input{
	width:100%
}

textarea {
    font-size: 0.9em;
    height: 150px;
    margin: -4px;
    padding: 0px;
    vertical-align: middle;
    width: 100%;
}

select {
    margin: 15px 0;
    padding: 3px;
    width: 100%;
}

blockquote {
    border-left: 1px solid #CCCCCC;
    color: #888888;
    font-size: 15px;
    font-style: italic;
    margin: 30px 30px 30px 14px;
    padding: 0 0 0 20px;
}


#nav {
    left: 0;
    margin: -1px 1px 0;
    position: relative;
    text-align: center;
    top: 0;
}


#nav a.btn {
    left: auto;
    position: absolute;
    right: 10px;
    top: 25%;
    z-index: 700;
}

.menu li.current > a, .menu li.current > a:hover, .menu li.current.hover > a {
	background: #FFF; /* Old browsers */
    background: -moz-linear-gradient(center top , #EBEAEA 0%, #F8F8F8 44%, #FFFFFF 100%) repeat scroll 0 0 transparent;
    color: #FF6C00;
    cursor: default;
    text-shadow: 0 0px 0 rgba(0, 0, 0, 0.2);
}


button.blue, a.btn.blue, a.button.blue, input.blue[type="submit"], input.blue[type="reset"], input.blue[type="button"] {
    background: -moz-linear-gradient(center top , #7ABCFF 0%, #60ABF8 44%, #4096EE 100%) repeat scroll 0 0 transparent;
    border: 1px solid #1D6DC1;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #1D6DC1;
}


/*---------------------------------
	BLUE
-----------------------------------*/
button.blue,
a.btn.blue,
a.button.blue,
input[type=submit].blue,
input[type=reset].blue,
input[type=button].blue{
text-shadow:0 -1px 0 #1D6DC1;
color:#fff;
border:1px solid #1D6DC1;
background: rgb(122,188,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(4,119,167,1) 0%, rgba(4,75,105,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,119,167,1)), color-stop(100%,rgba(4,75,105,1)))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(4,119,167,1) 0%,rgba(4,75,105,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(4,119,167,1) 0%,rgba(4,75,105,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(4,119,167,1) rgba(4,75,105,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0578a8', endColorstr='#044b69',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(4,119,167,1) 0%,rgba(4,75,105,1) 100%); /* W3C */
}
	
	button.blue:hover,
	a.btn.blue:hover,
	a.button.blue:hover{
		text-shadow:0 -1px 0 #1D6DC1;
		color:#fff;
		border:1px solid #1D6DC1;
		background: rgb(122,188,255); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(15,163,225,1) 0%, rgba(4,75,105,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(15,163,225,1)), color-stop(100%,rgba(4,75,105,1)))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(15,163,225,1) 0%,rgba(4,75,105,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(15,163,225,1) 0%,rgba(4,75,105,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(15,163,225,1) rgba(4,75,105,1) 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fa3e1', endColorstr='#044b69',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, rgba(15,163,225,1) 0%,rgba(4,75,105,1) 100%); /* W3C */	
	}


/*---------------------------------
	Botão - GREEN
-----------------------------------*/
button.green,
a.btn.green,
a.button.green,
input[type=submit].green,
input[type=reset].green,
input[type=button].green{
text-shadow:0 -1px 0 #669E00;
color:#fff;
border:1px solid #669E00;
background: rgb(143,196,0); /* Old browsers */
background: -moz-linear-gradient(top, rgba(143,196,0,1) 0%, rgba(107,165,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,196,0,1)), color-stop(100%,rgba(107,165,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(143,196,0,1) 0%,rgba(107,165,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(143,196,0,1) 0%,rgba(107,165,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(143,196,0,1) 0%,rgba(107,165,0,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(143,196,0,1) 0%,rgba(107,165,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#6ba500',GradientType=0 ); /* IE6-9 */
}
	
	button.green:hover,
	a.btn.green:hover,
	a.button.green:hover{
	text-shadow:0 1px 0 #669E00;
	border:1px solid #669E00;
	background: rgb(198,226,120); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(131,186,6,1) 0%, rgba(119,154,24,9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,196,0,1)), color-stop(100%,rgba(153,206,12,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(143,196,0,1) 0%,rgba(153,206,12,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(143,196,0,1) 0%,rgba(153,206,12,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(143,196,0,1) 0%,rgba(153,206,12,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(143,196,0,1) 0%,rgba(153,206,12,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6e278', endColorstr='#a7d32c',GradientType=0 ); /* IE6-9 */
	}
	

/*---------------------------------
	Novas classes (Foram criadas pra o site)
-----------------------------------*/

.lembrar_senha{
    font-size: 12px;
}


.lembrar_senha a:hover{
    color: #1D6DC1;
}

#botao_logar_home{
    float: left;
    height: 20px;
    margin: 25px 0px 0px 10px;
    width: 77px;
}


#redes_sociais_rodape{
    margin-top: -22px;
}


#mapa {
    float: left;
    height: 253px;
    margin: 24px 0 14px;
    width: 440px;
}


.texto{
	padding:0px 20px 0px 20px;
}


.espaco{
	width:100%;
	height:14px;
	float:left;
}

#numero_questoes{
	width:100%;
	height:40px;
	float:left;
	margin:-6px 0px 0px 0px;
}

#numero_questoes_enem{
	width:100%;
	height:40px;
	float:left;
	margin:7px 0px 0px 0px;
}

#logo{
	width:300px;
	height:80px;
	float:left;
	margin:0px 0px -10px 0px;
}

#login_top {
    float: right;
    height: 62px;
    margin: 4px 0 0;
    width: 224px;
}

.botao_cadastrar_top {
    float: right;
    height: 30px;
    width: 145px;
}

.botao_login_top {
    float: right;
    height: 30px;
    width: 79px;
}

#youtube{
	width:141px;
	height:31px;
	float:left;
	margin: 10px 0 0 8px;
}

.linha{
	width:100%;
	height:2px;
	border-top:1px solid #ccc;
	float:left;
}


.linha_home{
	width:100%;
	height:2px;
	border-top:1px solid #ccc;
	float:left;
	margin:14px 0px 14px 0px;
}


#bg_enem{
	width: 50%;
	height: 58px;
	background-color: #F0F0F0;
	float: left;
	padding-left: 12px;
	margin-bottom: 6px;   
}

#bg_banner_home{
    height: 280px;
    width: 950px;
	border-bottom: 1px solid #E4E4E4;
	 /* fallback */ 
	 background-color: #f5f6f3; 
	 background-repeat: repeat-x;
	 /* Safari 4-5, Chrome 1-9 */ 
	 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#f5f6f3)); 
	 /* Safari 5.1, Chrome 10+ */ 
	 background: -webkit-linear-gradient(top, #e6e6e6, #f5f6f3); 
	 /* Firefox 3.6+ */ 
	 background: -moz-linear-gradient(top, #e6e6e6, #f5f6f3); 
	 /* IE 10 */ 
	 background: -ms-linear-gradient(top, #e6e6e6, #f5f6f3); 
	 /* Opera 11.10+ */ 
	 background: -o-linear-gradient(top, #e6e6e6, #f5f6f3);
}

#experimente_gratis_home{
	width:230px;
	height:auto;
	float:left;
	margin: 6px 0 0 -13px;
}


.slideshow-buttons {
    margin: 3px 0 0;
    padding: 0;
    text-align: center;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
	margin:0;
	padding:0;
	color:#000;
	background:#efefef url(css/img/grid.png) repeat center top;
	font:normal 0.9em/150% 'Arimo', "Trebuchet MS", arial, verdana, sans-serif;
	text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}


#header{
	width:960px;/*960*/
	margin:10px auto 10px auto;
	padding:0;
}

#wrap{
	width:960px;/*960*/
	background:#fff;
	margin:10px auto 10px auto;
	padding:0;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 0px 1px 9px #dddddd;
}


#footer{
	text-align:center;
	padding:20px;
	margin:0;
	background:#efefef;
	border:1px solid #ddd;
	color:#999;
	font-size:0.8em;
	text-shadow:0px 1px 1px #fff;
	position: relative;
	top:0;
	left:0;
}

#link-top{
	position: absolute;
	top:10px;
	right:10px;
	*right:25px;/*IE 7 ONLY*/
	left:auto;
	color:#666;
	text-decoration:none;
	display: inline-block;
	padding:5px 10px;
	background:#e5e5e5;
	line-height:100%;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

/*---------------------------------
	TABELAS
-----------------------------------*/

table {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    width: 100%;
    border: 0px solid #666666;
    
}	


table.striped tbody th {
    text-align: left;
}
  

.ac-container {
    width: 90%;
}