	  .propaganda{

		  width:171px;

		  height:230px;

		  margin-top:36px;

		  background-image:url("../../images/bg_banner.png");

	  }

	  

	  .propaganda-titulo{

		  font-size:22px;

		  width:141px;

		  height:42px;

		  color: #071F25;

		  text-shadow: 1px 1px #fff;

		  padding:24px 0px 0px 58px;

		  float:left;

	  }

	  

	  

	  .propaganda-menu{

		  width:171px;

		  height:80px;

		  margin:auto;

		  float:left;

	  }

	  

	  .propaganda-menu ul{ 

		  margin-bottom: 10px;

	  }

	  

	  .propaganda-menu li{

		  width: 171px;

	  }

	  

	  .propaganda-menu ul li { 

		  margin-bottom:11px;

	  }

	  

	  .propaganda-menu li a {

		  font-size:11px;

		  font-weight:bold;

		  display: block;

		  width:145px;

		  height:10px;

		  text-decoration:none;

		  padding: 1px 11px 8px 5px;

		  margin-top:-8px;

		  margin-left:5px;

		  background-color:#b3e1f2;

	  }

	  

	  .propaganda-menu li a:hover {

		  font-size:11px;

		  color:#286f8a;

		  display: block;

		  width:145px;

		  height:10px;

		  text-decoration:none;

		  background-color:#fff;

	  }

	  

	  .experimente-inter{

		  width:141px;

		  height:37px;

		  cursor:pointer;

		  float:left;

		  padding-left:12px;

	  }		

	  

	  .experimente-inter h1{

		  font-size:20px;

		  width:150px;

		  height:20px;

		  margin-top:-18px;

		  color:#155569;

		  float:left;

	  }

	  

	  .experimente-inter span{

		  margin-top:3px;

		  font-size:28px;

		  width:80px;

		  height:15px;

		  float:left;

		  color:#155569;

	  }		

	  

