<div class="container">
    <div class=".four.columns">
        <div class="menu-lateral">
            <div id="tit">
                <div class="icons"></div>
                <div class="titulo-menu">Sobre Nós</div>
            </div>        
           {MENU_VERTICAL}        
        </div>
    </div>
    <div class=".eight.columns">
        <div class="pg">
            <div class="testeira">{IMG}</div>
            <div class="migalha"><span>Sobre Nós</span><span>{LOCAL}</span></div>
            {BODY}
        </div>
    </div>
</div>