<div class="container">
    <div class=".four.columns">
        <div class="menu-lateral">
        <div id="tit">
        <div class="icons"></div>
        <div class="titulo-menu">Sobre Nós</div>
        </div>
        <div class="top-menu"></div>
            <ul id="animation-1">
                <li><a href="sobrenos/ainterbits">A InterBits</a></li>
                <li><a href="sobrenos/politica">Politica de Privacidade</a></li>
                <li><a href="contato">Contato</a></li>
            </ul>
        <div class="botton-menu"></div>
        </div>
    </div>
    <div class=".eight.columns">
        <div class="pg">
            <div class="testeira">{IMG}</div>
            <div class="migalha"><span>Sobre Nós</span><span>{LOCAL}</span></div>
            {BODY}
        </div>
    </div>
</div>