<!DOCTYPE html>
    <!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
    <!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
    <!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
   <head>
        <!-- Conteúdo Básico ================================================== -->        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{TITLE}</title>
        <meta name="description" content="{DESCRIPTION}">
        <meta name="author" content="">

        <!-- Meta específico para Mobile ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- CSS ================================================== -->
        {INCLUDE_CSS}

        <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <!-- Favicons ================================================== -->
        
        {INCLUDE_JS}
    </head>    
    <body>
<!-- MODDAL AGUARDE -->
    <a id="modal_aguarde" href="#aguarde_div" style="display: none;"></a>
    <div id="aguarde_div" style="width:400px;display:none;text-align:center">
        <table style="width:390px;height:120px;" align="center">
            <tr>
                <td align="center" valign="middle" style="width:100%;height:120px;vertical-align:middle;">
                    <!-- Aguarde -->
                    <table align="center">
                        <tr>
                            <td align="center" style="white-space:nowrap">
                                <img src="app/views/images/ajax-load.gif" border="0" />
                            </td>
                            <td align="center" style="white-space:nowrap;vertical-align:middle;padding:10px;font-weight:bold;font-size:20px;">
                                Aguarde...
                            </td>
                        </tr>
                    </table>
                    <!-- Aguarde -->
                </td>
            </tr>
        </table>
    </div>
    <!-- MODDAL AGUARDE -->
    <div id="bg_total">
        <div id="bg">

            <!-- Primary Page Layout ================================================== -->
            <!-- Delete everything in this .container and get started on your own site! -->

           <!-- top -->
            <div class="sub">
                <div class="container">
                    <div class="container">
    <!-- MODAL loginbox -->
    <a id="modal_loginbox" href="#mloginbox_div" style="display: none;"></a>
    <div id="mloginbox_div" style="width:400px;display:none;text-align:center">
        <table style="width:390px;height:120px;" align="center">
            <tr>
                <td align="center" valign="middle" style="width:100%;height:120px;vertical-align:middle;">
                    <!-- MSG -->
                    <table align="center">
                        <tr>
                            <td id="msg_loginbox" align="center" style="vertical-align:middle;padding:10px;font-weight:bold;font-size:16px;">&nbsp;
                                
                            </td>
                        </tr>
                    </table>
                    <!-- MSG -->
                </td>
            </tr>
        </table>
    </div>
    <!-- MODAL loginbox -->
    
    <div class="sub_top">       
    </div>  
    <div id="login2">
            <a href="javascript:void(0);" onclick="javascript:site.boxUsuario();">Meu acesso</a>
                &nbsp;&nbsp;&nbsp;
    </div>
     <div id="idiomas">
                               <select class="mydds" name="myimge">
                                <option value="calendar" selected="selected" >PT</option>
                                <option value="shopping_cart" >IN</option>

                              </select>
                        </div>
        <!-- Login Usuário -->
    <div id="box_usuario" style="display:none;">
        <!-- Login Normal -->
        <div id="box_login" class="box_table">
            <form id="form_loginbox" name="form_loginbox" action="usuario/login" method="post" onSubmit="return form.validate(this, true, 'reloadPage');">
                <table>
                    <tr>
                        <td>
                            E-mail
                            <br />
                            <input type="text" id="login_email" name="login_email" value="Usuário" style="width:300px;" class="required email" field_name="E-mail" />
                        </td>
                        <td>
                            <br />
                            <a href="javascript:void(0);" title="Login com sua conta do Facebook" onclick="javascript:window.open('socialauth/facebook', 'Facebook', 'width=800,height=600');"><img src="app/views/images/icone_facebook.jpg" style="width:20px;height:20px;" /></a>
                            &nbsp;
                            <a href="javascript:void(0);" title="Login com sua conta do Google" onclick="javascript:window.open('socialauth/google', 'Google', 'width=800,height=600');"><img src="app/views/images/icone_google.gif" style="width:20px;height:20px;" /></a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Senha
                            <br />
                            <input type="password" id="login_senha" name="login_senha" value="Senha" style="width:360px;" class="required" field_name="Senha" />
                        </td>
                    </tr>
                    <tr>
                        <td align="left" colspan="2">
                            <input type="submit" value="Login" class="bt_normal" />
                        </td>
                    </tr>
                    <tr>
                        <td align="left" colspan="2">
                            <input type="button" value="Esqueci minha senha" class="bt_normal" onclick="javascript:window.location='cadastro'" />
                        </td>
                    </tr>
                    <tr>
                        <td align="left" colspan="2">
                            <input type="button" value="Cadastre-se agora" class="bt_normal" onclick="javascript:window.location='cadastro'" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <!-- Login Normal -->
    </div>
    <!-- Login Usuário -->
    
</div>

                    <div class="logo"><a href="index.html"><img src="app/views/images/logo_superpro.png" width="250" height="42"></a></div>
                    <div id="login">
                        <div id="aba_assinante" class="loginAbaAtiva">
                            <a href="javascript:void(0);" onclick="javascript:site.areaAssinante();">
                                Assinante
                            </a>
                        </div>                         
                        <div id="aba_aluno" class="loginAbaInativa">
                            <a href="javascript:void(0);" onclick="javascript:site.areaAluno();">
                                Aluno
                            </a>
                        </div>    
                        <div style='clear:both'></div>
                        <div id="area_assinante">
                            <div id="fldLoginSenha">
                                <input id="fldNome" type="text" value="Nome" name="Nome" />
                                <input id="fldSenha" type="text" value="Senha" name="Senha" />
                            </div>
                            <div id="btnLoginSenha"></div>                             
                            <div id="codigoLista" style="display:none;">                            
                              <input id="fldCodigoLista" type="text" value="Código da Lista" name="codigo" />                                                        
                            </div>   
                            <div style='clear:both'></div>
                            <div id="reenviaSenha">
                                <a href="javascript:;">Esqueci minha senha</a>
                            </div>
                        </div>                        
                        <div id="linkNovoCadastro"><a href="">Não sou Cadastrado</a></div>
                    </div>
                </div>
            </div>
            
            <!-- fim top -->
            <!-- começo menu -->
            <div class="top">
    <div class="container nav-wrap">
        <ul class="group" id="top-menu">
                        <li id="menu_home"  class="current_page_item"  onclick="javascript:menu.changeMenu(this.id);">
                <a href="index.html">Home<p>Bem vindo</p></a>
            </li>
                        <li id="menu_sobre"  onclick="javascript:menu.changeMenu(this.id);">
                <a href="ainterbits.html">Sobre Nós<p>Conheça a InterBits</p></a>
            </li>
                        <li id="menu_assine"  onclick="javascript:menu.changeMenu(this.id);">
                <a href="#">Assine Já<p>Planos & Preços</p></a>
            </li>
                        <li id="menu_super"  onclick="javascript:menu.changeMenu(this.id);">
                <a href="#">SuperPro<p>Principais Recursos</p></a>
            </li>
                        <li id="menu_ajuda"  onclick="javascript:menu.changeMenu(this.id);">
                <a href="#">Ajuda<p>FAQ & Tutoriais</p></a>
            </li>
                    </ul>
        <div id="chat_online_top"><a href="#"> Chat on-line</a></div>
    </div>            
</div>

            <!-- fim menu -->
            
            <div class="container">
            <div id="home">

    <div id="banner">

        <a href="#" target="_blank">

            <img src='app/views/images/banners/campanha_ipad_setembro.png' width="900" height="310"/>

        </a>

        <a href="#" target="_blank">

            <img src='app/views/images/banners/recursos_superpro.png' width="900" height="310"/>

        </a>

        <a href="#" target="_blank">

            <img src='app/views/images/banners/economize_tempo.png' width="900" height="310"/>

        </a>

    </div>
    <div id="espaço"></div>
    <div id="caixa-home-superior">
    <div class="five columns">

        <div id="grafico">

            <h1>98%</h1><h3>dos</h3>

            <h2>nossos assinantes indicam</h2>

        </div>

    </div>

    <div class="five columns">

        <div class="perguntas">

            <h1>101646</h1><span>Questões</span>

            <h2>1653</h2><h4>ENEM</h4>

        </div>

    </div>

    <div class="five columns">

        <div class="experimente" onClick="window.location='index.php'">

            <h1>Experimente Já</h1><h2></h2>

            <span>Grátis!</span>

        </div>

    </div>
    </div>
    <div id="caixa-home">
    
    <div class="five columns">
        

        <div class="icon_home">

            <h3>Motivos para Usar o SuperPro</h3>

        </div>

        <div id="lista">

            <p><span>1.</span> Lorem Ipsum</p>

            <p><span>2.</span> Lorem Ipsum</p>

            <p><span>3.</span> Lorem Ipsum</p>

            <p><span>4.</span> Lorem Ipsum</p>

            <p><span>5.</span> Lorem Ipsum</p>

        </div>

        <button class="buttonsaibamais2">Saiba +</button>

    </div>

    <div class="five columns">

        <div class="icon_home2">

            <h3>Prepare sua Prova Rapidamente</h3>

        </div>

        <div id="lista2">

            <p>Lorem ipsum dolor sit amet, elit, consectetuer adipiscing elit,</p>

            <p>Lorem ipsum dolor sit amet, elit, consectetuer adipiscing elit,</p>

            <p>Lorem ipsum dolor sit amet, elit, consectetuer adipiscing elit,</p>

            <p>Lorem ipsum dolor sit amet, elit, consectetuer adipiscing elit,</p>

            <p>Lorem ipsum dolor sit amet, elit, consectetuer adipiscing elit,</p>

        </div>

        <button class="buttonsaibamais">Veja o resultado</button>

    </div>

    <div class="five columns">

        <div class="icon_home3">

            <h3><span>Crie exercícios Online</span> Para seus Alunos</h3>

        </div>

        <div id="lista2">

            <p>Lorem ipsum dolor sit amet, elit, consectetuer adipiscing elit,</p>

            <p>Lorem ipsum dolor sit amet, elit, consectetuer adipiscing elit,</p>

            <p>Lorem ipsum dolor sit amet, elit, consectetuer adipiscing elit,</p>

            <p>Lorem ipsum dolor sit amet, elit, consectetuer adipiscing elit,</p>

            <p>Lorem ipsum dolor sit amet, elit, consectetuer adipiscing elit,</p>

        </div>

        <button class="buttonsaibamais2">Saiba +</button>

    </div>
    </div>
</div>
</div>
            <!-- espaçamento -->                        
            <div id="margem"></div>
            <!-- começo rodape -->
            <div id="bg_rodape_links">      
                <div class="container">      
                    <div class="four columns">
                        <div class="titRodape"><h1>Sobre Nós</h1>
                            <ul>
                                <li><a href="ainterbits.php">A Interbits</a></li>
                                <li><a href="contato.php">Entre em contato</a></li>
                                <li><a href="politica.php">Politica de Privacidade</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="four columns">
                        <div class="titRodape"><h2>Planos & Preços</h2>
                            <ul>
                                <li><a href="assineja.php">Assine Já</a></li>
                                <li><a href="principais.php">Principais recursos</a></li>
                                <li><a href="formas.php">Formas de pagamento</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="four columns">
                        <div class="titRodape"><h3>Ajuda</h3>
                            <ul>
                                <li><a href="ajuda.php">F.A.Q</a></li>
                                <li><a href="tutoriais.php">Tutóriais</a></li>
                                <li><a href="fale.php">Fale com o Suporte</a></li>
                                <li><a href="chat.php">Chat On-line</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="four columns">
                        <div id="rodape-coluna-esquerda">
                        <button class="buttonSuperPro"><span>Conheça o</span>
                        SuperPro<span>® </span> WEB</button>
                        <div class="end">    	
                            Suporte técnico: (11) 3549-3985<br/>
                            Comercial: (11) 3549-3982<br/>
                            Fone PABX: (11) 3549-3988
                        </div>
                        <div id="btnFacebook" onclick="window.location='index.php'"></div>
                        <div id="btnTwitter" onclick="window.location='index.php'"></div>
                        <div id="midias3" onclick="window.location='index.php'"></div>
                        </div>
                    </div>    
                </div>
            </div><!-- final rodape -->
            <div id="bg_rodape_copyright">
                <div class="container" align="center">
                    Copyright Interbits © 2012  -  todos os direitos reservados      
                </div>
            </div>
            <!-- End Document================================================== -->
        </div>
     </div>   
    </body>
</html>
