	.container .five.columns h3 {

		font-size:25px;

		line-height:22px;

	}

	

	.icon_home{

		height:63px;

		background-image:url("../../images/icone5.jpg");

		background-repeat:repeat-y;

		background-position: 0px 0px;

		padding-top:20px;

		padding-left:68px;

		border-bottom:#0b303c 3px solid;

		margin-bottom:9px;

	}

	

	#lista{

		padding-top:8px;

	}	

	

	#lista span{

		margin-left:20px;

		margin-right:10px;

		font-size:15px;

	}

	

	#lista p{

		font-size:13px;

	}

	

	

	.icon_home2{

		height:63px;

		background-image:url("../../images/relogio.jpg");

		background-repeat:no-repeat;

		background-position: 0px 6px;

		padding-top:20px;

		padding-left:70px;

		border-bottom:#0b303c 3px solid;

		margin-bottom:9px;

	}	

	

	#lista2{

		padding-top:8px;

		padding-bottom:10px;

	}	

	

	#lista2 p{

		width:230px;

		height:19px;

		background-image:url("../../images/seta.png");

		background-repeat:repeat-y;

		background-position: 0px 16px;

		margin-left:20px;

		margin-right:10px;

		padding-left:20px;

		line-height:16px;

		font-size:13px; 

	}

	

	.icon_home3{

		height:63px;

		background-image:url("../../images/visto.jpg");

		background-repeat:no-repeat;

		background-position: 0px 15px;

		padding-top:20px;

		padding-left:60px;

		border-bottom:#0b303c 3px solid;

		margin-bottom:10px;

	}		

	

	.icon_home3 span{

		font-size:20px;

	}		

	

	.buttonsaibamais {

		width:121px;

		height:26px;

		background-image:url("../../images/bg_bt_resultado.png");

		border:0px;

		-moz-border-radius: 10px;

		-webkit-border-radius: 10px;

		border-radius: 10px;

		display: inline-block;

		font-size: 13px;

		color:#fff;

		text-decoration: none;

		text-shadow: 0 1px rgba(0, 0, 0, .75);

		cursor: pointer;

		margin-right:17px;

		margin-bottom:15px;

		padding: 5px 8px;

		float:right;

	}

	

	.buttonsaibamais:hover,

	buttonsaibamais:hover,

	input[type="submit"]:hover,

	input[type="reset"]:hover,

	input[type="button"]:hover {

		background-image:url("../../images/bg_bt_resultado.png");

		border:0px;

		-moz-border-radius: 0px;

		-webkit-border-radius: 0px;

		border-radius: 0px;

		display: inline-block;

		font-size: 13px;

		color:#a1f9ff;

		text-decoration: none;

		text-shadow: 0 1px rgba(0, 0, 0, .75);

		cursor: pointer;

		margin-right:17px;

		margin-bottom:15px;

		padding: 5px 8px;

	}		  

	

	.buttonsaibamais2 {

		width:80px;

		height:26px;

		border:0px;

		background-image:url("../../images/bg_bt_saiba_p.png");

		-moz-border-radius: 0px;

		-webkit-border-radius: 0px;

		border-radius: 0px;

		display: inline-block;

		font-size: 13px;

		color:#fff;

		text-decoration: none;

		text-shadow: 0 1px rgba(0, 0, 0, .75);

		cursor: pointer;

		margin-right:17px;

		margin-bottom:15px;

		padding: 5px 8px;

		float:right;

	}

	



	.buttonsaibamais2:hover,

	buttonsaibamais2:hover,

	input[type="submit"]:hover,

	input[type="reset"]:hover,

	input[type="button"]:hover {

		background-image:url("../../images/bg_bt_saiba_p.png");

		border:0px;

		-moz-border-radius: 0px;

		-webkit-border-radius: 0px;

		border-radius: 0px;

		display: inline-block;

		font-size: 13px;

		color:#a1f9ff;

		text-decoration: none;

		text-shadow: 0 1px rgba(0, 0, 0, .75);

		cursor: pointer;

		margin-right:17px;

		margin-bottom:15px;

		padding: 5px 8px;

	}	

	

	#grafico{

		width:250px;

		height:90px;

		background-image:url("../../images/grafico.jpg");

		background-repeat:no-repeat;

		background-position: 4px 18px;

		padding-left:110px;

		padding-top:28px;

		font-size:15px;

	

	}

	

	#grafico h1{

		line-height:0px;

		font-size:42px;

		float:left;

		width:87px;

		height:50px;

	}

	

	#grafico h2{

		width:210px;

		height:50px;

		line-height:20px;

		font-size:23px;

		float:left;

		margin-top:-45px;

	

	}

	

	#grafico h3{

		line-height:0px;

		font-size:27px;

		width:40px;

		height:20px;

		float:left;

		margin-top:8px;

	}					   

	

	.perguntas{

		width:250px;

		height:130px;

		background-image:url("../../images/perguntas.jpg");

		background-repeat:repeat-y;

		background-position: 0px 0px;

		padding-left:40px;

	}	

	

	.perguntas h1{

		font-size:32px;

		color:#FFFFFF;

		width:100px;

		height:4px;

		float:left;

	}

	

	.perguntas h2{

		font-size:32px;

		color:#FFFFFF;

		width:80px;

		height:50px;

		margin-left:50px;

		float:left;

	}	

	

	.perguntas span{

		width:120px;

		height:40px;

		margin-top:20px;

		margin-left:20px;

		font-size:15px;

		float:left;

		color:#FFFFFF;

	}	

	

	.perguntas h4{

		width:50px;

		height:25px;

		margin-top:10px;

		margin-left:8px;

		font-size:15px;

		float:left;

		color:#FFFFFF;

	}		

	

	.experimente{

		width:236px;

		height:114px;

		background-image:url("../../images/cadastre.jpg");

		background-repeat:no-repeat;

		background-position: 0px 10px;

		padding-top:20px;

		padding-left:89px;

		cursor:pointer;

	}		

	

	.experimente h1{

		font-size:21px;

		width:150px;

		height:20px;

		float:left;

	}

	

	.experimente span{

		margin-top:5px;

		font-size:28px;

		width:120px;

		height:15px;

		float:left;

	}		