<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
        <!-- Basic Page Needs
  ================================================== -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{TITLE}</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Mobile Specific Metas
  ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- CSS -->
        {INCLUDE_CSS}
        <!--[if !IE]><!--><script src='/interbits/assets/plugins/diapo/scripts/jquery_mobile-1_0rc2_customized_min.js'></script><!--<![endif]-->
        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
               
        {INCLUDE_JS}
</head>
<body>
<!-- ===================================== END HEADER ===================================== -->

<div id="header" class="clearfix">
<!-- top -->   
<div class="col_12">
 <div id="logo">
   <img src="imagens/logo.png" width="375" height="58">
 </div>
     <div id="login_top">
            <div class="botao_login_top">      
        		<button class="small"><span class="icon gray small" data-icon="l" style="display: inline-block;"></span>Login</button>
            </div>
     </div>
</div>
<!-- fim top -->  
</div>

<div id="wrap" class="clearfix">



<!-- Menu Superior -->
{MENU}
<!-- Fim Menu Superior -->

{BODY}

<!-- ===================================== START FOOTER ===================================== -->
<div class="clear"></div>
<div id="footer">
&copy; Copyright 2011–2012 All Rights Reserved. <a href="">Super Professor Web</a>
<a id="link-top" href="#top-of-page">Top</a>
</div>

</div><!-- END WRAP -->
</body></html>