.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
    margin: 5px 0px 0px 5px;
    display: block;
    float: left;
    margin: 5px;
}


h5 {
    font-size: 15px;
    margin: 5px 0 0;
    color: #7E7E80;
}

label {
    font-size: 14px;
}

#txtStatus{
    font-size: 13px;
}

p {
    color: #000;
    color: #888;
}

textarea {
    -moz-box-sizing: border-box;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 6px #CCCCCC inset;
    font-family: inherit;
    font-size: 0.9em;
    height: 177px;
    margin-left: 4px;
    padding: 5px;
    vertical-align: middle;
    width: 100%;
}


input {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0 0px 0px #CCCCCC inset;
    display: inline-block;
    font-size: 15px;
    margin: 0;
    padding: 2px 0;
    text-indent: 5px;
    vertical-align: middle;
    width: auto;
    height: 22px;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
	font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}


select {
    width: 100%;
    height: 21px;
}


button, a.btn, a.btn:visited, a.button, a.button:visited, input[type="submit"], input[type="reset"], input[type="button"] {
    height: 34px;
    padding: 6px;
}

table {
    margin: 0;
    border-collapse: inherit;
}

#msg_error_escrever_assunto{
    width: 100%;
    height: 10px;
    float: left;
}

input[type="text"], textarea, button, a.button, a, input[type="file"] {
    font-size: 13px;
}

th, td {
    font-size: 0.9em;
    text-align: none;
}

.border {
    border-left: 1px solid #CCCCCC;
    float: left;
    height: 71%;
    padding-top: 5px;
    width: 0;
}

.cinza{
    width:100%;
    height:auto;
    float:left;
    background-color:#FAFAFA;
}

blockquote {
    font-size: 14px;
    margin: 2px 30px 15px 0;
}

.column .inner {
    font-size: 12px;
    padding: 0 0 5px 5px;
}

hr {
    margin: 0;
}


ul.alt li {
    background-position:6px 13px;
}

ul.alt a{
	color:#333333;
	text-decoration:none;
}

ul.alt a:hover{
	color:#469af0;
}


ul li a{
	color:#666;
        text-decoration: none;
}

ul li a:hover{
	color:#044e6e;
}

#nav {
    left: 0;
    margin: -1px 1px 0;
    position: relative;
    text-align: center;
    top: 0;
}

#nav a.btn {
    width: 45px;
    height: 11px;
    left: auto;
    position: absolute;
    right: 10px;
    top: 25%;
    z-index: 700;
}


strong, b {
    background: none repeat scroll 0 0 ;
}


p {
    margin: 0;
    line-height: 100%;
}

.chzn-container-multi .chzn-choices .search-field input {
    padding: 10px;
}


.chzn-container-single .chzn-single {
    width: 643px;
}

#escrever_para {
    width: 643px;
}

.bt_e-mail{
    background: -moz-linear-gradient(center top , #FCFCFC 0%, #E0E0E0 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    left: 0;
    line-height: 100%;
    margin: 0;
    overflow: visible;
    padding: 7px 15px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    top: 0;
    vertical-align: middle;
    width: 99%;
    margin-bottom:8px;
}


#button-bar-esquerda{
    float: right;
    height: 94px;
    margin: 1px 12px 0px 0px ;
    width: auto;
}

/* menu horizontal top ================================================== */

.menu{
	font-family: "Trebuchet Ms", arial, verdana, sans-serif;
	text-align: left;
	border:1px solid #ddd;
	margin:-1px -1px 0 -1px;
}


#menu_top {
    border: 0px solid #CCCCCC;
    text-shadow: 0 1px 1px #FFFFFF;
    margin: -4px -1px;
}

#menu_top .menu li a {
    background: none;
    font-size:13px;
    padding:20px;
    padding-right:25px;
}

#menu_top .menu li > a:hover, 
#menu_top .menu li.hover > a {
    color:#000;
}

#menu_top .menu,
#menu_top .menu li.current > a, 
#menu_top .menu li.current > a:hover, 
#menu_top .menu li.current.hover > a {
    background: none;
    border:none;
    font-size:1.2em;
    color:#fff;  
}

/* menu horizontal final ================================================== */

/* menu vertical esquerda ================================================== */

#menu_coluna_esquerda {
    width: 164px;
    border: 0px solid #CCCCCC;
    text-shadow: 0 1px 1px #FFFFFF;
    margin: 1px -1px;
    float: left;
}

#menu_coluna_esquerda .menu li a {
    background: none;
    font-size:13px;
    padding:20px;
    padding-right:25px;
}

#menu_coluna_esquerda .menu li > a:hover, 
#menu_coluna_esquerda .menu li.hover > a {
    color:#000;
}

#menu_coluna_esquerda .menu,
#menu_coluna_esquerda .menu li.current > a, 
#menu_coluna_esquerda .menu li.current > a:hover, 
#menu_coluna_esquerda .menu li.current.hover > a {
    background: none;
    border:none;
    font-size:1.2em;
    color:#fff;  
}

#menu_coluna_esquerda .menu li a {
    background: none repeat scroll 0 0 transparent;
    font-size: 13px;
    padding: 20px 0 20px 20px;
}

/* menu vertical esquerda ================================================== */

/* tabela ================================================== */

thead th,
tbody th{
	font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

table.striped {
	
}
table.striped tr.alt {
    background: none repeat scroll 0 0 #F5F5F5;
	
}
table.striped thead th {
    background: none repeat scroll 0 0 #FFFFFF;
	text-align: none;
}
table.striped tbody th {
    background: none repeat scroll 0 0 #F5F5F5;
    border-right: 1px dotted #E5E5E5;
    padding-right: 15px;
    text-align: none;
}
table.striped tbody tr.alt th {
    background: none repeat scroll 0 0 #EFEFEF;
	text-align: none;
}

th, td {
    text-align: none;
}


/* final tabela ================================================== */


.tab-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EFEFEF #EFEFEF #EFEFEF #E5E5E5;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    clear: both;
    margin: 0 0 40px;
    padding: 20px 1px 0 8px;
}


/*---------------------------------
	BLUE
-----------------------------------*/
button.blue,
a.btn.blue,
a.button.blue,
input[type=submit].blue,
input[type=reset].blue,
input[type=button].blue{
text-shadow:0 -1px 0 #1D6DC1;
color:#fff;
border:1px solid #1D6DC1;
background: rgb(122,188,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(4,119,167,1) 0%, rgba(4,75,105,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,119,167,1)), color-stop(100%,rgba(4,75,105,1)))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(4,119,167,1) 0%,rgba(4,75,105,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(4,119,167,1) 0%,rgba(4,75,105,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(4,119,167,1) rgba(4,75,105,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0578a8', endColorstr='#044b69',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(4,119,167,1) 0%,rgba(4,75,105,1) 100%); /* W3C */
}
	
	button.blue:hover,
	a.btn.blue:hover,
	a.button.blue:hover{
		text-shadow:0 -1px 0 #1D6DC1;
		color:#fff;
		border:1px solid #1D6DC1;
		background: rgb(122,188,255); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(15,163,225,1) 0%, rgba(4,75,105,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(15,163,225,1)), color-stop(100%,rgba(4,75,105,1)))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(15,163,225,1) 0%,rgba(4,75,105,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(15,163,225,1) 0%,rgba(4,75,105,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(15,163,225,1) rgba(4,75,105,1) 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fa3e1', endColorstr='#044b69',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, rgba(15,163,225,1) 0%,rgba(4,75,105,1) 100%); /* W3C */	
	}


/*---------------------------------
	Botão - GREEN
-----------------------------------*/
button.green,
a.btn.green,
a.button.green,
input[type=submit].green,
input[type=reset].green,
input[type=button].green{
text-shadow:0 -1px 0 #669E00;
color:#fff;
border:1px solid #669E00;
background: rgb(143,196,0); /* Old browsers */
background: -moz-linear-gradient(top, rgba(143,196,0,1) 0%, rgba(107,165,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,196,0,1)), color-stop(100%,rgba(107,165,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(143,196,0,1) 0%,rgba(107,165,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(143,196,0,1) 0%,rgba(107,165,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(143,196,0,1) 0%,rgba(107,165,0,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(143,196,0,1) 0%,rgba(107,165,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#6ba500',GradientType=0 ); /* IE6-9 */
}
	
	button.green:hover,
	a.btn.green:hover,
	a.button.green:hover{
	text-shadow:0 1px 0 #669E00;
	border:1px solid #669E00;
	background: rgb(198,226,120); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(131,186,6,1) 0%, rgba(119,154,24,9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,196,0,1)), color-stop(100%,rgba(153,206,12,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(143,196,0,1) 0%,rgba(153,206,12,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(143,196,0,1) 0%,rgba(153,206,12,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(143,196,0,1) 0%,rgba(153,206,12,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(143,196,0,1) 0%,rgba(153,206,12,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6e278', endColorstr='#a7d32c',GradientType=0 ); /* IE6-9 */
	}
	
.menu li.current > a, .menu li.current > a:hover, .menu li.current.hover > a {
	background: #FFF; /* Old browsers */
    background: -moz-linear-gradient(center top , #EBEAEA 0%, #F8F8F8 44%, #FFFFFF 100%) repeat scroll 0 0 transparent;
    color: #FF6C00;
    cursor: default;
    text-shadow: 0 0px 0 rgba(0, 0, 0, 0.2);
}


button.blue, a.btn.blue, a.button.blue, input.blue[type="submit"], input.blue[type="reset"], input.blue[type="button"] {
    background: -moz-linear-gradient(center top , #7ABCFF 0%, #60ABF8 44%, #4096EE 100%) repeat scroll 0 0 transparent;
    border: 1px solid #1D6DC1;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #1D6DC1;
}