.bt_turmas_grid{
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    width: 100px;
    margin: 3px;
}

tr.ui-search-toolbar input {
    margin: -2px 0 0;
}


