
/* começo top
================================================== */

*{margin:0;padding:0}


	body{
		width:auto;
		height:auto;
		margin:0px;
		background-image:url("../../images/admin/bg_lateral.jpg");
		background-position:top left;
		background-repeat:repeat-y;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px 
	}

	#container{
		width:100%;
	}


	#top{
		width:100%;
		height:49px;
		background-image:url(../../images/admin/top.jpg);
		background-position:bottom;
		background-repeat:repeat-x;
		border-bottom: 1px solid #FFFFFF;;
		float:left;
	}


/* correção chrome e safari
========================= */

/* ===================== */		

	#logo{
		width:260px;
		height:20px;
		float:left;
		margin-top:12px;
		margin-left:22px;
		font-size:21px;
		color:#fff;
	}
	
	#logo span{
		vertical-align: top;
		font-size:12px;
	}
	
	
	#nome{
		width:auto;
		height:50px;
		margin-top:15px;
		float:left;
		font-size:18px;
		color:#FFFFFF;
		margin-left:80%;
	}
	
	#nome a{
		color:#FFFFFF;
		text-decoration:none;
	}
	
	
	
	 #icone_duvidas, #icone_ferramentas{
		width:30px;
		height:20px;
		margin-top:15px;
		padding-left:15px;
		float:right;
		border-left:2px solid;
		border-color:#FFFFFF;
	}
	
	#icone_duvidas{
		background-image:url(../../images/admin/icons.png);
		background-position:98px 0px;
	}
	
	#icone_ferramentas{
		background-image:url(../../images/admin/icons.png);
		background-position:47px 0px;
		margin-right:20px;
	}

/* fim top
================================================== */


/* começo menu
================================================== */
		
		
	.img{
		margin-bottom:-21px;
	}	
		
		
	#menu{
		width:240px;
		height:40px;
		background-image:url(../../images/admin/sombra.png);
		background-repeat:no-repeat;
		float:left;
	}
	
	#menu p{
		font-size:16px;
		margin-top: 6px;
		margin-left:35px;
	}
	
	#menu_base{
		width:171px;
		height: 500px;
		float:left;
	}
	
	.sub-menu{
		width: 99%;
		float:left;
	}
	
	.sub-menu li{}
	
	
	.sub-menu li a span{
		padding-left:33px;
	}
	
	.sub-menu li  a {
		color: #000;
		display: block;
		height: 35px;
		padding: 7px 10px 0px 56px;
		text-decoration: none;
		background-image:url(../../images/menu.png);
		background-repeat:no-repeat;
	}

	.sub-menu li a:hover {
		color: #fff;
		padding: 7px 10px 0px 56px;
		text-decoration: none;
		background-color:#172236;
	}
	
	.sub-menu .home				{background-position: 29px -347px; width: 102px; height:25px;}
	.sub-menu .home:hover		{background-position: 29px -378px;}
	
	.sub-menu .usuario			{background-position: 29px 5px; width: 102px; height:25px;}
	.sub-menu .usuario:hover	{background-position: 29px -25px;}

	.sub-menu .comercial		{background-position: 29px -76px; width: 102px; height:25px}
	.sub-menu .comercial:hover	{background-position: 29px -115px;}

	.sub-menu .cliente			{background-position: 29px -172px; width: 102px; height:25px}
	.sub-menu .cliente:hover	{background-position: 29px -209px;}
	
	.sub-menu .relatorio		{background-position: 29px -260px; width: 102px; height:25px}
	.sub-menu .relatorio:hover	{background-position: 29px -291px;}



/* fim menu
================================================== */

/* menu drop
================================================== */

	img{
		border:0px;
		}

	a, a:hover, a:active, a:focus {
		outline:0;
		direction:ltr;
	}
	
	.wrapper {
		height:25px;
		float:right;
	}
	
	.mainmenu {
		position:relative;
		z-index:100;
		line-height:25px;
		margin-left:23px;
		margin-top:5px;
		width:151px;
	}
	
	ul.drop {
		padding:0;
		margin: 0 0 0 -40px;
		list-style:none;
		
		overflow:hidden;
		float:left;
	}
	
	ul.drop a {
		background:#369;
		text-decoration:none;
		color:#fff;
		padding-left:5px;
	}
	
	ul.drop li.list {
		float:left;
		width:250px;
		margin:0px 0px 0px 0px;
	}
	
	ul.drop li.list a.category {
		position:relative;
		z-index:50;
		display:block;
		float:left;
		width:100px;
		margin-top:10px;
		background:transparent;
	}
	
	ul.drop li.list a.category:hover,
	ul.drop li.list a.category:focus,
	ul.drop li.list a.category:active {
		margin-right:1px;
	
	}
	
	ul.subdrop {
		float:left;
		padding:25px 0px 0px 0px;
		margin:0;
		list-style:none;
		margin:-25px 0px 0px 0px;
	}
	
	ul.subdrop li a {
		float:left;
		width:120px;
		background:#172236;
		clear:left;
		color:#fff;
	}
	
	ul.subdrop li a.endlist {
	
	}
	
	ul.subdrop li a.endlist:hover,
	ul.subdrop li a.endlist:focus,
	ul.subdrop li a.endlist:active {
	
	}
	
	ul.subdrop a:hover,
	ul.subdrop a:focus,
	ul.subdrop a:active {
		background:#EDF2F4;
		margin-right:1px;
		color:#000;
	}

/* menu drop final
================================================== */

/* começo container
================================================== */
	
	.titulo{
		width:99%;
		height:18px;
		float:left;
		margin:10px 0px 8px 0px;
		padding:0px 0px 16px 15px;
		background-position:bottom;
		font-size:22px;
	}
	
	
	.texto{
		background-color: #FFFFFF;
		height: auto;
		margin-top: 53px;
		margin-left: -15px;
		padding: 0 25px 11px;
		width: auto;
	}
	
	
	#conteudo{
		width: 80%;                         /* para navegadores que não suportam calc() */
		width: -webkit-calc(100% - 187px);  /* para Chrome */
		width: -moz-calc(100% - 187px);     /* para Firefox */
		width: calc(100% - 187px);          /* para suporte nativo */
		background-color:#edf2f4;
		padding:0px 0px 0px 15px;
		height:auto;
		float:left;
	}

	

/* fim container
================================================== */

/* começo rodape
================================================== */

	

	

/* fim rodape
================================================== */