/* fontes
================================================== */
/* fontface */


 @font-face {font-family:"Decker Bold";src:url("DeckerB.eot?") format("eot"),url("DeckerB.woff") format("woff"),url("DeckerB.ttf") format("truetype"),url("DeckerB.svg#") format("svg");font-weight:normal;font-style:normal;}


body{
	margin:0;
	font-family:"arial";
	font-size:12px;
	}

/* fontes titulos
================================================== */
/*  */

	h1, h2, h3, h4, h5, h6{
	color: #333333;
	font-family:"Decker Bold";
}

/* estrutura site
================================================== */
/* class estrutural do site */

#bg{
	background-image:url(../images/bg.png);
	background-position:center top;
	margin-top:0px;
	}

.sub_top{
	text-align:right;
	color:#fff;
	height:40px;
	text-shadow: 1px 1px #666;
	
	}

.sub_top span{
	margin-right:30px;
	height:40px;
	}

.sub_top span a{
	text-decoration:none;
	color:#FFF;
	}

.sub_top span select{
	background-color:#165b6f;
	border:0px;
	color:#FFF;
	float:right;
	}

.sub_top span option{
	background-color:#165b6f;
	border:#165b6f;
	color:#ccc;
	arrow-color:#fff;
	}

	.sub{
		width:100%;
		height:auto;
		margin-top: -17px;
		}

	.azul_rodape{
		width:100%;
		height:auto;
		background-color:#08212a;
		color: #ccc;
	}

	.azul_rodape_superior{
		width:100%;
		height:auto;
		background-color:#0b303c;
		padding-top:6px;
		}

#margem{
	height:30px;}
		
/* menu
================================================== */

#menu{
    width:450px;
    height:43px;
float: left;
}
		
/* login */	


.assinante_ativa{
	font-size:12px;
	width:80px;
	height:21px;
	background-image:url(../images/bg_trans.png);
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	 border-radius: 8px 8px 0px 0px;
	  padding-top:3px;
	 padding-left:18px;
	float:right;
	color:#0f2a37;
	}

.assinante_inativa{
	font-size:12px;
	width:80px;
	height:21px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	 border-radius: 10px 10px 0px 0px;
	  padding-top:5px;
	 padding-left:30px;
	float:right;
	color:#0f2a37;}
	
	
.assinante_ativa a{
	text-decoration:none;
	}		

.assinante_inativa a{
	color:#FFF;
	text-decoration:none;
	}		
	

.aluno_ativa{
	font-size:12px;
	width:80px;
	height:26px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	 border-radius: 10px 10px 0px 0px;
	 padding-top:-5px;
	 padding-left:40px;
	float:right;
	color:#fff;
    background-image:url(../images/bg_trans.png);
}

.aluno_inativa{
	font-size:12px;
	width:80px;
	height:21px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	 border-radius: 10px 10px 0px 0px;
	 padding-top:0px;
	 padding-left:40px;
	float:right;
	color:#fff;}

.aluno_ativa a{
	text-decoration:none;
	}

.aluno_inativa a{
	color:#FFFFFF;
	text-decoration:none;
	}



#login{
	width:230px;
	height:113px;
	float:right;
	text-shadow: 1px 1px #2188a0; 
	}	

.area_aluno{
	width:218px;
	height:113px;
	background-image:url(../images/bg_trans.png);
	-moz-border-radius: 10px 0px 10px 10px;
	-webkit-border-radius: 10px 0px 10px 10px;
	 border-radius: 10px 0px 10px 10px;
	float:right;
}

.area_assinante{
	width:218px;
	height:70px;
	background-image:url(../images/bg_trans.png);
	-moz-border-radius: 0px 8px 8px 8px;
	-webkit-border-radius: 0px 8px 8px 8px;
	 border-radius: 0px 8px 8px 8px;
	float:right;
}

.area2{
	width:218px;
	height:49px;
	float:right;
	font-size:12px;
	text-align:right;
	margin-right:10px;
	color:#fff;
}

#altura{
	background-image:url(../images/bg_trans.png);
	width:70px;
	height:10px;
	border:0px;
	margin-left:12px;
	margin-top:12px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	 border-radius: 5px;
	 float:left;
	 color:#0f2a37;
	 font-size:11px;
	}
	
#altura1{
	background-image:url(../images/bg_trans.png);
	width:83px;
	height:11px;
	border:0px;
	margin-left:12px;
	margin-top:12px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	 border-radius: 5px;
	 float:left;
	 color:#0f2a37;
	 font-size:11px;
	}	
	

#altura2{
	background-image:url(../images/bg_trans.png);
	width:150px;
	height:10px;
	border:0px;
	margin-left:12px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	 border-radius: 5px;
	 float:left;
	 color:#0f2a37;
	 font-size:11px;
	}



.bt{
	background-image:url(../images/bt.png);
	width:25px;
	height:25px;
	margin-top:11px;
	margin-left:5px;
	float:left;
	}
	
.bt2{
	background-image:url(../images/bt.png);
	width:25px;
	height:25px;
	margin-top:1px;
	margin-left:5px;
	float:left;
	}
		
.senha{
	width:150px;
	height:30px;
	margin-left:10px;
	margin-top:-10px;
	float:left;
	color:#0f2a37;
	}
	
.senha a{
	text-decoration:none;
	}	
		
/* fim menu
================================================== */

/* top
================================================== */


.logo{
width:360; 
height:30;
margin-top:-10px;
margin-left:-10px;
float:left;
}

/* fim top
================================================== */



/* rodape
================================================== */

/* menu vertical */		
		
		#menu3{
			width:210px;
			height:auto;
			}
		
		
		
		#menu3 ul {
			padding:3px 0px;
			margin-right:10px;
			width: auto;
			height:auto;			
		}

		#menu3 ul li {  }

		#menu3 ul li a {
			padding:2px 5px;
			color: #fff;
			text-decoration: none;
			width:145px;
			height:15px;
			float:left;
			background-image:url(../images/seta.png);
			background-position: 0px 2px;
			background-repeat:no-repeat;
			padding-left:18px;
			opacity:0.60;
			-moz-opacity: 0.60;
			filter: alpha(opacity=60);
		}

		#menu3 ul li a:hover {
			padding:2px 5px;
			width:100;
			margin-right:5px;
			color:#fff;
			padding-left:18px;
			opacity:0.99;
		    -moz-opacity: 0.99;
		    filter: alpha(opacity=99);
		}		
	
#menu3 h1{
	background-image:url(../images/icon_rodape.png);
	background-position: 0px 1px;
    background-repeat:repeat-y;
	color:rgb(255,255,255);
	padding-left:30px;
	font-size:24px;
	width:200px;
	height:32px;
	margin-top:-6px;
	} 	
	
#menu3 h2{
	background-image:url(../images/icon_rodape.png);
	background-position: 0px 57px;
	background-repeat:repeat-y;
	color:rgb(255,255,255);
	padding-left:30px;
	font-size:24px;
	width:200px;
	height:30px;
	} 


#menu3 h3{
	background-image:url(../images/icon_rodape.png);
	background-position: 0px 27px;
    background-repeat:repeat-y;
	color:rgb(255,255,255);
	padding-left:30px;
	font-size:24px;
	width:200px;
	height:30px;
	margin-top:4px;
	} 

	button, 
	.buttonSuperPro {
		background: #eee; /* Old browsers */
		background: #eee -moz-linear-gradient(top, rgba(29,107,133,.9) 30%, rgba(4,24,31,.9) 60%); /* FF3.6+ */
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(29,107,133,.9)), color-stop(60%,rgba(4,24,31,.9))); /* Chrome,Safari4+ */
		background: #eee -webkit-linear-gradient(top, rgba(29,107,133,.9) 30%,rgba(4,24,31,.9) 60%); /* Chrome10+,Safari5.1+ */
		background: #eee -o-linear-gradient(top, rgba(29,107,133,.9) 30%,rgba(4,24,31,.9) 60%); /* Opera11.10+ */
		background: #eee -ms-linear-gradient(top, rgba(29,107,133,.9) 30%,rgba(4,24,31,.9) 60%); /* IE10+ */
		background: #eee linear-gradient(top, rgba(29,107,133,.9) 30%,rgba(4,24,31,.9) 60%); /* W3C */
	  border: 1px solid #08232b;
	  border-top: 1px solid #08232b;
	  border-left: 1px solid #08232b;
	  -moz-border-radius: 10px;
	  -webkit-border-radius: 10px;
	  border-radius: 10px;
	  display: inline-block;
	  font-size: 20px;
	  color:#00e4f3;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(0, 0, 0, .75);
	  cursor: pointer;
	  margin-top:4px;
	  margin-bottom: 0px;
	  line-height: normal;
	  padding: 5px 15px 0px;
	  }

	.buttonSuperPro:hover,
	buttonSuperPro:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		
		background: #eee; /* Old browsers */
		background: #eee -moz-linear-gradient(top, rgba(29,107,133,.9) 30%, rgba(4,24,31,.9) 60%); /* FF3.6+ */
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(29,107,133,.9)), color-stop(60%,rgba(4,24,31,.9))); /* Chrome,Safari4+ */
		background: #eee -webkit-linear-gradient(top, rgba(29,107,133,.9) 30%,rgba(4,24,31,.9) 60%); /* Chrome10+,Safari5.1+ */
		background: #eee -o-linear-gradient(top, rgba(29,107,133,.9) 30%,rgba(4,24,31,.9) 60%); /* Opera11.10+ */
		background: #eee -ms-linear-gradient(top, rgba(29,107,133,.9) 30%,rgba(4,24,31,.9) 60%); /* IE10+ */
		background: #eee linear-gradient(top, rgba(29,107,133,.9) 30%,rgba(4,24,31,.9) 60%); /* W3C */
	  border: 1px solid #08232b;
	  border-top: 1px solid #08232b;
	  border-left: 1px solid #08232b;
	  -moz-border-radius: 10px;
	  -webkit-border-radius: 10px;
	  border-radius: 10px;
	  display: inline-block;
	  font-size: 20px;
	  color:#fff;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(0, 0, 0, .75);
	  cursor: pointer;
	  margin-top:4px;
	  margin-bottom: 0px;
	  line-height: normal;
	  padding: 5px 15px 0px;
	   }
	   
.buttonSuperPro p{
	margin-top:-7px;
	}   
	   
.buttonSuperPro span{
	font-size:15px;
	vertical-align: top;
	}

.end{
	margin-top:8px;
	margin-bottom:6px;
	color:rgb(255,255,255);
	font-size:13px;
	line-height:18px;
	}

.midias{
	background-image:url(../images/midias.png);
	background-position: 0px 0px;
	width:25px;
	height:25px;
	float:left;
	margin-bottom:8px;
	}
	
.midias2{
	background-image:url(../images/midias.png);
	background-position: 52px 0px;
	width:25px;
	height:25px;
	float:left;
	margin-bottom:3px;
	}
		
.midias3{
	background-image:url(../images/midias.png);
	background-position: 27px 0px;
	width:25px;
	height:25px;
	float:left;
	margin-bottom:3px;
	}	

/* rodape fim
================================================== */


/* home 
================================================== */




.container .five.columns h3 {
	font-size:25px;
	line-height:22px;
	}
	
.icon_home{
	height:63px;
	background-image:url(../images/icone5.png);
	background-repeat:repeat-y;
	background-position: 0px 0px;
	padding-top:20px;
	padding-left:68px;
	border-bottom:#0b303c 3px solid;
	margin-bottom:9px;
	}
#lista{
	padding-top:8px;}	
	
#lista span{
	margin-left:20px;
	margin-right:10px;
	font-size:15px;
	}
	
#lista p{
	font-size:13px;
	}
	

.icon_home2{
	height:63px;
	background-image:url(../images/relogio.png);
	background-repeat:no-repeat;
	background-position: 0px 6px;
	padding-top:20px;
	padding-left:70px;
	border-bottom:#0b303c 3px solid;
	margin-bottom:9px;
	}	

#lista2{
	padding-top:8px;
	padding-bottom:10px;}	
	
#lista2 p{
	width:230px;
	height:19px;
	background-image:url(../images/seta.png);
	background-repeat:repeat-y;
	background-position: 0px 16px;
	margin-left:20px;
	margin-right:10px;
	padding-left:20px;
	line-height:16px;
	font-size:13px;
	}

.icon_home3{
	height:63px;
	background-image:url(../images/visto.png);
	background-repeat:no-repeat;
	background-position: 0px 15px;
	padding-top:20px;
	padding-left:60px;
	border-bottom:#0b303c 3px solid;
	margin-bottom:10px;
	}		

.icon_home3 span{
	font-size:20px;
	}		
	
	.buttonsaibamais {
		background: #eee; /* Old browsers */
		background: #eee -moz-linear-gradient(top, rgba(29,107,133,.9) 30%, rgba(4,24,31,.9) 60%); /* FF3.6+ */
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(29,107,133,.9)), color-stop(60%,rgba(4,24,31,.9))); /* Chrome,Safari4+ */
		background: #eee -webkit-linear-gradient(top, rgba(29,107,133,.9) 30%,rgba(4,24,31,.9) 60%); /* Chrome10+,Safari5.1+ */
		background: #eee -o-linear-gradient(top, rgba(29,107,133,.9) 30%,rgba(4,24,31,.9) 60%); /* Opera11.10+ */
		background: #eee -ms-linear-gradient(top, rgba(29,107,133,.9) 30%,rgba(4,24,31,.9) 60%); /* IE10+ */
		background: #eee linear-gradient(top, rgba(29,107,133,.9) 30%,rgba(4,24,31,.9) 60%); /* W3C */
	  border: 1px solid #08232b;
	  border-top: 1px solid #08232b;
	  border-left: 1px solid #08232b;
	  -moz-border-radius: 10px;
	  -webkit-border-radius: 10px;
	  border-radius: 10px;
	  display: inline-block;
	  font-size: 13px;
	  color:#fff;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(0, 0, 0, .75);
	  cursor: pointer;
	  margin-right:17px;
	  margin-bottom:15px;
	  padding: 5px 8px;
	  float:right;
	  }

	.buttonsaibamais:hover,
	buttonsaibamais:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		background: #eee; /* Old browsers */
		background: #eee -moz-linear-gradient(top, rgba(29,107,133,.9) 30%, rgba(4,24,31,.9) 60%); /* FF3.6+ */
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(29,107,133,.9)), color-stop(60%,rgba(4,24,31,.9))); /* Chrome,Safari4+ */
		background: #eee -webkit-linear-gradient(top, rgba(29,107,133,.9) 30%,rgba(4,24,31,.9) 60%); /* Chrome10+,Safari5.1+ */
		background: #eee -o-linear-gradient(top, rgba(29,107,133,.9) 30%,rgba(4,24,31,.9) 60%); /* Opera11.10+ */
		background: #eee -ms-linear-gradient(top, rgba(29,107,133,.9) 30%,rgba(4,24,31,.9) 60%); /* IE10+ */
		background: #eee linear-gradient(top, rgba(29,107,133,.9) 30%,rgba(4,24,31,.9) 60%); /* W3C */
	  border: 1px solid #08232b;
	  border-top: 1px solid #08232b;
	  border-left: 1px solid #08232b;
	  -moz-border-radius: 10px;
	  -webkit-border-radius: 10px;
	  border-radius: 10px;
	  display: inline-block;
	  font-size: 13px;
	  color:#4f9fc2;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(0, 0, 0, .75);
	  cursor: pointer;
	  margin-right:17px;
	  margin-bottom:15px;
	  padding: 5px 8px;
	   }	
	   
#grafico{
	width:250px;
	height:90px;
	background-image:url(../images/grafico.png);
	background-repeat:repeat-y;
	background-position: 4px 18px;
	padding-left:110px;
	padding-top:28px;
	font-size:15px;
	}

#grafico h1{
	line-height:0px;
	font-size:42px;
	float:left;
	width:87px;
	height:50px;
	}

#grafico h2{
	width:210px;
	height:50px;
	line-height:20px;
	font-size:23px;
	float:left;
	margin-top:-45px;
	
	}

#grafico h3{
	line-height:0px;
	font-size:27px;
	width:40px;
	height:20px;
	float:left;
	margin-top:8px;
	}					   

.perguntas{
	width:250px;
	height:130px;
	background-image:url(../images/perguntas.png);
	background-repeat:repeat-y;
	background-position: 0px 0px;
	padding-left:40px;
	}	

.perguntas h1{
	font-size:32px;
	color:#FFFFFF;
	width:100px;
	height:4px;
	float:left;
	}
			
.perguntas h2{
	font-size:32px;
	color:#FFFFFF;
	width:80px;
	height:50px;
	margin-left:50px;
	float:left;
	}	
	
.perguntas span{
	width:120px;
	height:40px;
	margin-top:20px;
	margin-left:20px;
	font-size:15px;
	float:left;
	color:#FFFFFF;
	}	

.perguntas spam{
	width:50px;
	height:25px;
	margin-top:15px;
	margin-left:8px;
	font-size:15px;
	float:left;
	color:#FFFFFF;
	}		
	
.experimente{
	width:236px;
	height:150px;
	background-image:url(../images/cadastre.png);
	background-repeat:no-repeat;
	background-position: 0px 10px;
	padding-top:20px;
	padding-left:98px;
	}		

.experimente h1{
	font-size:21px;
	width:150px;
	height:20px;
	float:left;
	}
	
.experimente span{
	margin-top:5px;
	font-size:28px;
	width:120px;
	height:15px;
	float:left;
	}		
	
.nav-wrap { 
    margin: 11px auto;
}

/* Clearfix */
.group:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }
*:first-child+html .group { zoom: 1; } /* IE7 */

/* Top Menu */
#top-menu { 
    margin-top: -60px; 
    list-style: none; 
    position: relative; 
    width: 683px;
	float:left; 
	text-shadow: 1px 1px #77d6ef; 
	color:black;
}
#top-menu li { 
    display: inline-block;	
}
#top-menu a { 
    color: #000; 
    font-size: 18px; 
    float: left;
    padding: 6px 10px 4px 10px;
    text-decoration: none;
	
}

#top-menu a:hover { 
    color: white;
}
#magic-line { 
    position: absolute;
    top: -3px; 
    left: 0; 
    width: 100px; 
    height: 3px; 
    background: #4EF222;
}
.current_page_item a { 
    color: white !important; 
}


#top-menu  p {
	color:#1f4755;
	padding-top:2px;  
    font-size: 12px; 
    text-decoration: none;
}



.ie6 #top-menu li, .ie7 #top-menu li { 
    display: inline; 
}
.ie6 #magic-line {
    bottom: -3px;
}

/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/
#banner{width:900px; height:365px;
}

.coin-slider { width:900px; height:365px; overflow: hidden; zoom: 1; position: relative; margin-top:-11px; margin-bottom:20px;}
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons {font-size: 0px; padding:0px 5px 40px 5px; float: left;  margin-top:-70px;}
.cs-buttons a { 
	margin-left: 5px; 
	height: 12px; 
	width: 12px; 
	float: left; 
	border: 1px solid #B8C4CF; 
	color: #B8C4CF; 
	text-indent: -1000px;
	-moz-border-radius: 10px;
	  -webkit-border-radius: 10px;
	  border-radius: 10px; 
	}
	
.cs-active { 
	background-color: #175a6f; 
	color: #FFFFFF;
	-moz-border-radius: 10px;
	  -webkit-border-radius: 10px;
	  border-radius: 10px; }

.cs-title { width: 545px; padding: 10px; background-color: #000000; color: #FFFFFF; }

.cs-prev {
	width:36px;
	height:36px;
	background-image:url(../images/seta_prev.png);
	color: #FFFFFF;
	}

.cs-next { 
	width:36px;
	height:36px;
	background-image:url(../images/seta_next.png); 
	color: #FFFFFF; 
	}