<?xml version="1.0" encoding="UTF-8"?>
<root>    
    <header>
        <include id='css'>admin/custom_kickstart,admin/base</include>
        <include id='cssInc'></include>
        <include id='js'>admin.init,util.dictionary,util.form</include>
        <include id='jsInc'></include>
        <include id='plugins' concat='1'>jquery_ui,jqgrid,highcharts,kickstart</include>
    </header>
</root>
