<?xml version="1.0" encoding="UTF-8"?>
<root>    
    <header>
        <include id='css'>admin.menuVertical</include>
        <include id='cssInc'>admin.site</include>
        <include id='js'>admin.init,util.dictionary,util.form</include>
        <include id='jsInc'></include>
        <include id='plugins'>jquery_ui,jqgrid,modal,highcharts</include>
    </header>
</root>
