<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->


<root>    
    <map class='admin/classes/controllers/AdminController.php'>
        <injection singleton='0' var='objViewPart' class='ViewPart' params='' />       
    </map>
</root>
