<ul class="tabs">
    <li><a href="javascript:tabSwitch('tab_1', 'content_1');" id="tab_1" class="active">Avaliar Questões</a></li>
    <li><a href="javascript:tabSwitch('tab_2', 'content_2');" id="tab_2">Gráfico de Histórico</a></li>
</ul>

<div id="content_1" class="content">
    <form id="form_filtros" name="form_filtros" method="post" action="/interbits/top10">
        <table>
            <tr>
                <td colspan="3">
                    Filtrar por:
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="tipo_filtro" value="id_materia" checked="checked" onclick="javascript:top10.selecionaFiltro(this.value);" />
                </td>
                <td>
                    Matérias
                </td>
                <td>
                    {COMBO_MATERIAS}
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="tipo_filtro" value="id_fonte_vestibular" onclick="javascript:top10.selecionaFiltro(this.value);" />
                </td>
                <td>
                    Fontes
                </td>
                <td>
                    {COMBO_FONTES}
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <input type="submit" value="Filtrar" />
                </td>
            </tr>
        </table>
    </form>
    <div>
        {TB_QUESTOES}
    </div>
</div>

<div id="content_2" class="content">
    <div>
        <form id="formGeraGrafico" name="formGeraGrafico">
            <table>
                <tr>
                    <td>
                        Data Início: 
                    </td>
                    <td>
                        <input type="text" id="data_inicio" name="data_inicio" value="{DATA_INICIO}" />
                    </td>
                    <td>
                        Data Final 
                    </td>
                    <td>
                        <input type="text" id="data_final" name="data_final" value="{DATA_FINAL}" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table>
                            <tr>
                                <td>
                                    <input type="radio" name="tipo_filtro" value="id_materia_gr" checked="checked" onclick="javascript:top10.selecionaFiltro(this.value);" />
                                </td>
                                <td>
                                    Matérias
                                </td>
                                <td>
                                    {COMBO_MATERIAS_GR}
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="tipo_filtro" value="id_fonte_vestibular_gr" onclick="javascript:top10.selecionaFiltro(this.value);" />
                                </td>
                                <td>
                                    Fontes
                                </td>
                                <td>
                                    {COMBO_FONTES_GR}
                                </td>
                                <td>
                                    <input type="hidden" name="hdd_acao" value="filtar_grafico" />
                                    <input type="button" id="btGeraGrafico" name="btGeraGrafico" value="Filtrar" />
                                    <span id="aguarde" style="display:none;">Aguarde...</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
            </table>
        </form>
    </div>
    <div id="graphsContent">
        {GR_TOP10}
    </div>
</div>