/* Início
================================================== */

*{margin:0;padding:0}


body{
    width:auto;
    height:auto;
    margin:0px;
    background:#efefef url("../../images/bm/bg_gray.gif") repeat-x center top;    
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}


.wrapPage {
    width:960px;/*960*/    
    background:none;
    margin:0px auto 0px auto;
    padding:0;
}

#aba_logo {
    width: 236px;
    height: 55px;
    padding-top:10px;
    padding-left:70px;
    background: url("../../images/bm/bg_aba_logo.gif") no-repeat center top;           
}