<div class="titulo">Tutoriais</div>
<div class="texto-full">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh 
        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, 
        quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,</p>
</div>
<div id="base_video">
    <div class="video"></div>
    <div class="texto_video">
        <h5>Gerando sua primeira prova</h5>
        Aprenda a gerar uma prova no SuperPro® Web em poucos minutos.<br/>
        É rápido, fácil e intuitivo.
    </div>
    <button class="buttonassistavideo">Assita ao Video</button>
</div>  

<div id="base_video">
    <div class="video"></div>
    <div class="texto_video">
        <h5>Como efetuar uma busca no SuperPro® Web</h5>
        Conheça os recursos disponíveis para aplicar filtros avançados <br/>
        antes de gerar sua prova.
    </div>
    <button class="buttonassistavideo">Assita ao Video</button>
</div>

<div id="base_video">
    <div class="video"></div>
    <div class="texto_video">
        <h5>Saiba como usar o recurso anticola</h5>
        Aprenda como gerar várias versões da mesma prova com o<br/>
        recurso anticola do SuperPro® Web. Ao gerar uma nova versão<br/> 
        de sua prova as questões são embaralhadas aleatoriamente.
    </div>
    <button class="buttonassistavideo">Assita ao Video</button>
</div> 