<!-- MODDAL CONTATO -->
<a id="modal_suporte" href="#msuporte_div" style="display: none;"></a>
<div id="msuporte_div" style="width:400px;display:none;text-align:center">
    <table style="width:390px;height:120px;" align="center">
        <tr>
            <td align="center" valign="middle" style="width:100%;height:120px;vertical-align:middle;">
                <!-- MSG -->
                <table align="center">
                    <tr>
                        <td id="msg_suporte" align="center" style="vertical-align:middle;padding:10px;font-weight:bold;font-size:16px;">
                            &nbsp;
                        </td>
                    </tr>
                </table>
                <!-- MSG -->
            </td>
        </tr>
    </table>
</div>
<!-- MODDAL CONTATO -->
<div class="titulo">Fale com o Suporte</div>
<div class=".six.columns">
    <div class="formulario-contato">
        <form id="form_suporte" name="form_suporte" action="disparaSuporte" method="post" onSubmit="return form.validate(this, true);">
            <p>Nome:</p>
            <input type="text" id="nome" name="nome" class="input_text required" field_name="Nome" tip="Aqui você preenche seu nome completo" />
            <p>E-mail:</p>
            <input type="text" id="email" name="email" class="input_text required email" field_name="E-mail" tip="Utilize um e-mail válido" />
            <p>Categoria:</p>

            {CATEGORIAS}

            <br />
            <textarea id="msg" name="msg" class="textarea required" field_name="Mensagem"></textarea>
            <p><input type="submit" value="Enviar" /></p>
        </form>
    </div>
</div>
<div class=".six.columns">
    <div class="foto-inter"><img src="app/views/images/foto_inter.png"></div>
    <div class="texto-pequeno">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,</p>
    </div>
</div>