<div class="titulo">Contato</div>
<div class=".six.columns">
    <div class="formulario-contato">
        <form id="form_contact" name="form_contact" action="form_contact.php" method="post" onSubmit="return form.validate(this);">
            <p>Nome:</p>
            <input type="text" id="nome" name="nome" class="input_text required" field_name="Nome" tip="Aqui você preenche seu nome completo" />
            <p>E-mail:</p>
            <input type="text" id="email" name="email" class="input_text required email" field_name="E-mail" tip="Utilize um e-mail válido" />
            <p>Assunto:</p>
            <input type="text" id="assunto" name="assunto" class="input_text required" field_name="Assunto" tip="Assunto sobre o qual você quer atendimento" />
            <p>Mensagem:</p>
            <br />
            <textarea id="msg" name="msg" class="textarea required" field_name="Mensagem"></textarea>
            <p><input  type="submit" value="Enviar" /></p>
        </form>
    </div>
</div>
<div class=".six.columns">
    <div class="mapa"><iframe width="361" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Itapeva,+202+S%C3%A3o+Paulo&amp;aq=&amp;sll=-23.559393,-46.65274&amp;sspn=0.006579,0.013078&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Itapeva,+202+-+Bela+Vista,+S%C3%A3o+Paulo,+01332-000&amp;ll=-23.559394,-46.652745&amp;spn=0.006579,0.013078&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Itapeva,+202+S%C3%A3o+Paulo&amp;aq=&amp;sll=-23.559393,-46.65274&amp;sspn=0.006579,0.013078&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Itapeva,+202+-+Bela+Vista,+S%C3%A3o+Paulo,+01332-000&amp;ll=-23.559394,-46.652745&amp;spn=0.006579,0.013078&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small></div>
    <div class="texto-pequeno">
        <p>
            Rua Itapeva, 202 - cj. 72<br/>
            São Paulo - SP - 01332-000<br/>
            (11) 3549-3988<br/>
            interbits@interbits.com.br<br/>
        </p></div>

</div>