<div class="titulo">Conheça a InterBits</div>
<div class="texto-full">
    <p>A Interbits® iniciou suas atividades em 1993 e foi fundada por um grupo de professores que tinham 
    alguns problemas em comum: preparar um grande número de provas, simulados e listas de exercícios, pouco 
    tempo para elaborá-las e dificuldade em encontrar material suficiente.</p>
    <p>Em 1994, após um ano de desenvolvimento, surgiu a solução: o aplicativo denominado Super Professor®.</p>
    <p>O SuperPro®, como é mais conhecido, foi desenvolvido para ser um gerenciador de questões que possibilitasse ao professor rapidamente elaborar 
    suas atividades de avaliação. Hoje, contendo um banco de itens com quase 100.000 questões, o SuperPro® é a ferramenta 
    que vem ajudando milhares de professores nesta tarefa. Hoje são contempladas as disciplinas Biologia, Espanhol, Filosofia, 
    Física, Geografia, História, Inglês, Matemática, Português, Química e Sociologia.</p>
    <p>Assim sendo, o SuperPro® nestes 18 anos de existência vem se consolidando como a melhor ferramenta do gênero existente 
    no mercado, sendo utilizado em mais de 4.000 escolas e na residência de milhares de professores como um instrumento indispensável 
    para o bom trabalho do docente.</p>{TESTE}
</div>