<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
        <!-- Basic Page Needs
  ================================================== -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Sistema Super Professor® Web</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Mobile Specific Metas
  ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- CSS -->
        {INCLUDE_CSS}
        
        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

        <!-- Favicons
        ================================================== -->
        <link rel="shortcut icon" href="images/favicon.ico">
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
               
        {INCLUDE_JS}
</head>
<body>
<!-- Modal Notificação -->
<div id="modal_padrao" style="display:none;">
    <div id="msg_modal_padrao" style="width:100%;"></div>
</div>
<!-- Modal Notificação -->    
    
<!-- modal aguarde -->
<div id="modal_aguarde" class="modal_aguarde">
    <div class="img">
        <img src="assets/images/ajax-load.gif" border="0" />
    </div>
    <div class="txt">
        Aguarde...
    </div>
</div>
<!-- modal aguarde -->

<!-- ===================================== TOP ===================================== -->
<div id="top">
    <div id="button-bar-esquerda">
        <ul class="menu">
            <li><a href=""><span class="icon" data-icon="u"></span>Usuário</a>
                <ul>
                    <li><a href=""><span class="icon" data-icon="Z"></span>Sub Item</a></li>
                    <li><a href=""><span class="icon" data-icon="k"></span>Sub Item</a></li>
                    <li><a href=""><span class="icon" data-icon="J"></span>Sub Item</a></li>
                    <li><a href=""><span class="icon" data-icon="="></span>Sub Item</a></li>
                </ul>
            </li>
            <li><a href=""><span class="icon" data-icon="?"></span>Ajuda</a></li>
            <li><a href=""><span class="icon" data-icon="z"></span>Ferramentas</a></li>
            <li><a href=""><span class="icon" data-icon="x"></span>Fechar</a></li>
        </ul>
    </div>
</div>
<!-- =====================================fim TOP ===================================== -->

<!-- ===================================== menu lateral ===================================== -->
<div id="coluna_esquerda">

        <!-- Menu Vertical Left MENU_VERTICAL -->
        <ul class="menu vertical">
        <li class="current"><a href="/interbits/admin"><span class="icon" data-icon="I"></span>Home</a></li>
        <li><a href="/interbits/admin/escolas"><span class="icon" data-icon="U"></span>Escolas & turmas</a></li>
        <li><a href="/interbits/admin/listas"><span class="icon" data-icon="v"></span>Minhas listas</a></li>
        <li><a href="/interbits/admin/email"><span class="icon" data-icon="@"></span>Caixa postal</a></li>
        </ul>

</div>
<!-- ===================================== fim menu lateral ===================================== -->

<!-- ===================================== fim conteúdo ===================================== -->
<div id="conteudo">
    {BODY}
</div>
<!-- ===================================== fim conteúdo ===================================== -->
</body>
</html>