<!DOCTYPE html>
    <!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
    <!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
    <!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
        <!-- Basic Page Needs
  ================================================== -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{TITLE}</title>
        <meta name="description" content="">
        <meta name="author" content="">
    
        <!-- CSS -->
        {INCLUDE_CSS}
        
        <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script type='text/javascript' src='assets/js/jquery/jquery_1_8_1_min.js'></script>
        
        {INCLUDE_JS}
</head>
<body>
    <a id="top-of-page"></a>   
    <div class='wrapPage'>
         <div id='aba_logo'><img src='assets/images/bm/logo.gif' width="159" height="36" /></div>
         <div id='menu_top'>
            <ul class="menu">
                <li class="current"><a href=""><span class="icon" data-icon="o"></span>Home</a></li>
                <li><a href=""><span class="icon" data-icon="["></span>e-Services Box</a></li>
                <li><a href=""><span class="icon" data-icon="&"></span>Empresa</a>
                   <ul>
                        <li><a href=""><span class="icon" data-icon="G"></span>Sobre nós</a></li>
                        <li><a href=""><span class="icon" data-icon="A"></span>Política de Privacidade</a></li>
                        <li><a href=""><span class="icon" data-icon="A"></span>Contato</a></li>
                    </ul>                
                </li>
                <li><a href=""><span class="icon" data-icon="'"></span>Contato</a></li>
            </ul>
         </div>
         <div class="clear"></div>
    </div>
    <div class="clearfix">      
        {BODY}   
    <!-- ===================================== INÍCIO RODAPÉ ===================================== -->
    <div class="clear"></div>
    <div id="footer">
        <div class="wrapPage">
            <div class="col_4 left">
                <h4><span class="icon" data-icon="Z"></span> A Supervip</h4>
                <ul class="alt">
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Contato</a></li>                    
                </ul>                        
            </div>
            <div class="col_4 left">
                <h4>e-Services Box</h4>
                <ul class="alt">
                    <li><a href="#">e-Services</a></li>
                    <li><a href="#">Como funciona</a></li>
                    <li><a href="#">Perguntas Frequentes</a></li>
                </ul>          
            </div>
            <div class="col_4"><button class="blue">Assinar</button></div>
            <div class="clear"></div>
            <div>
            &copy; Copyright 2012 - Todos os direitos reservados.
            <a id="link-top" href="#top-of-page">Início</a>
            </div>
        </div>
    </div>        
</body>
</html>